.App{
	height:100vh;
	background:url('./images/QUBI.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.btn{
	color:white;
	font-family: Times;
	font-size:1.2rem;
	border:solid 1px #fff;
	padding:0% 10% 0% 10%;
}
.btn:hover{
	color:red;
	font-style: none;
}
h1{
	color:white;
}
.nav-link{
	font-size: 1.5rem;
	font-family: Times;
}
.header{
	margin-bottom: 75px;
}
.row{
	margin:4%;
	margin-top:12%;
}
p{
	color:white;
	font-size:2rem;
	font-family: "Copperplate Gothic Light";
}
@media only screen and (min-width:768px){
	.btn{
		font-size:1.5rem;
	}
}